.padding-top-text {
    padding-top: 50px !important;
}
.img-about-container{
    width: 100%;
    height: 800px;
}

.font-container{
    font-size: 23px;
}

.about-container {
    padding: 30px;
}
.font1-container{
    font-size: 20px;
}
.padding1-top-text {
    padding-top: 180px !important;
}