.account-image-container {
    padding: 120px 80px;
}

.modal {
    z-index: 99999999;
}

.account-container {
    padding: 30px 80px;
    font-size: 16px;
}

.padding-info {
    padding: 15px 15px;
}
